# Base de datos TiDB Cloud
# Ejemplo: DATABASE_URL="mysql://username:password@gateway01.us-east-1.prod.aws.tidbcloud.com:4000/mibodega?sslaccept=strict"
DATABASE_URL=""

# Contraseña de administrador
# Por defecto: admin123
ADMIN_PASSWORD="admin123"

# Opcional: Configuración de la aplicación
NODE_ENV="development"
PORT=4321
